@{
    ViewBag.Title = "Dette er en chat";
}

<div id="login-container">
    <h1>Dette er en chat</h1>
    <h2 class="error">@ViewBag.ErrorMessage</h2>
    <form id="loginform" action="" method="post">
        <p>
            <input type="text" name="Username" placeholder="Nick" />
        </p>
        <p>
            <input type="password" name="Password" placeholder="Passord" />
        </p>
        <input type="submit" value="Bli med!" />
    </form>
</div>    