@{
    ViewBag.Title = "Index";
}
@ViewBag.name

<form action="/" method="post">
    <p>
        @Html.TextBox("Username")
    </p>
    <p>
        @Html.TextBox("Password")
    </p>
    <input type="submit" value="Bli med!" />
</form>