@{
    ViewBag.Title = "Index";
}

<div id="login-container">
    <h1>Dette er en chat</h1>
    <form action="/" method="post">
        <p>
            <input type="text" name="Username" placeholder="Nick" />
        </p>
        <p>
            <input type="password" name="Password" placeholder="Passord" />
        </p>
        <input type="submit" value="Bli med!" />
    </form>
</div>