@{
    ViewBag.Title = "Index";
}

<div id="channels">
    <div id="addChannel" class="tab">></div>
    <input type="text" id="textbox-channel" />
</div>
<div id="userlists"></div>
<div id="menu">
    <p>Innstillinger</p>
    <p id="logout">Logg ut</p>
</div>
<div id="userinfo">Du er <b>...</b></div>
<div id="chats"></div>

<input type="text" id="entry" />

<script type="text/javascript">
    var selectedChannel;
    var nick;

    $(document).ready(function () {
        window.onbeforeunload = function () { $.get("/Chat/Logout", function () { }); }

        $("#addChannel").click(function () {
            $(this).hide();
            $("#textbox-channel").show();
            $("#textbox-channel").focus();
        });

        $("#logout").click(function () {
            $.get("/Chat/Logout", function () {
                location = "/";
            });
        });

        $("#userinfo").click(function () {
            $("#menu").toggle();
        });

        $("#textbox-channel").keypress(function (event) {
            if (event.which == 13) {
                if ($(this).val() != "") {
                    joinChannel($(this).val());
                }
                $(this).val("");
                $(this).hide();
                $("#addChannel").show();
            }
        });

        $("#textbox-channel").focusout(function () {
            $(this).hide();
            $("#addChannel").show();
        });

        $("#entry").keypress(function (event) {
            if (event.which == 13) {
                var message = $("#entry").val();
                $.get("/Chat/SendMessage", { message: message, destination: selectedChannel }, function (result) { });
                write(message);
            }
        });

        $.get("/Chat/GetUserData", function (result) {
            nick = result;
            $("#userinfo").html("Du er <b>" + nick + "</b>");
        });

        $.get("/Chat/Join", function () {
            joinChannel("Lobby");
            setTimeout(refreshMessages, 1000);
        });
    });

    function refreshUsers(channel) {
        $.get("/Chat/GetUsers", { channel: channel }, function (result) {
            var userlist = "#users-" + channel;
            $(userlist).html("");
            for (n in result) {
                $(userlist).append('<p>' + result[n].nick + '</p>');
            }

            setTimeout(function () { refreshUsers(channel); }, 1000);
        });
    }

    function joinChannel(channel) {
        $.get("/Chat/JoinChannel", { channel: channel }, function() { });
        
        $("#addChannel").before('<div id="chan-' + channel + '" class="tab">' + channel + '</div>');
        $("#chats").append('<div id="' + channel + '" class="chat"></div>');
        $("#userlists").append('<div id="users-' + channel + '" class="users"></div>'); 

        selectedChannel = channel;
        showChannel(channel);
        refreshUsers(channel);

        $(".tab").click(function () {
            selectedChannel = $(this).attr("id").split("-")[1];
            if (selectedChannel != null) {
                showChannel(selectedChannel);
            }
        });
    }

    function refreshMessages() {
        $.get("/Chat/GetMessages", function (result) {
            var date = new Date();
            var time = pad(date.getHours()) + ":" + pad(date.getMinutes());
            
            for (n in result) {
                var channel = "#" + result[n].destination;
                $(channel).append('<p class="message"><span class="timestamp">[' + time + ']</span> <b>' + result[n].sender + '</b> ' + result[n].message);
                $(".message").fadeIn();
                $(channel).attr({ scrollTop: $(channel).attr("scrollHeight") });
            }

            setTimeout(refreshMessages, 1000);
        });
    }

    function write(message) {
        var date = new Date();
        var time = pad(date.getHours()) + ":" + pad(date.getMinutes());

        $("#" + selectedChannel).append('<p class="message"><span class="timestamp">[' + time + ']</span> <b>' + nick + '</b> ' + message);
        $(".message").fadeIn();
        $("#" + selectedChannel).attr({ scrollTop: $("#chat").attr("scrollHeight") });
        $("#entry").val("");
    }

    function showChannel(channel) {
        $(".tab").removeClass("selected");
        $("#chan-" + channel).addClass("selected");
        $(".chat").hide();
        $("#" + channel).show();
        $(".users").hide();
        $("#users-" + channel).show();

        document.title = channel + " [1]";
    }

    function pad(n) {
        if (n < 10)
            return "0" + n;
        return n;
    }
</script>