@{
    ViewBag.Title = "Dette er en chat";
}

<div class="modal" id="modal-channel">
    <h1>Kanaloppsett</h1>
    <div class="col">
        <p><input id="radio-channelOpen" type="radio" name="type" value="open" checked="checked"> Offentlig</p>
        <p><input id="radio-channelPrivate" type="radio" name="type" value="private"> Privat</p>
        <div id="allowUsers">
            <p>Tillatte brukere</p>
            <p><input type="text" id="textbox-allowUser" /></p>
            <p>
                <select id="select-allowedUsers" size="8" multiple="multiple"></select>
            </p>
        </div>
    </div>
    <div class="col">
        <p>Moderatorer</p>
        <p><input type="text" id="textbox-addAdmin" />
        <p>
            <select id="select-admins" size="8" multiple="multiple"></select>
        </p>
    </div>
    <div class="modal-bar-bottom">
        <button class="red">Slett kanal</button>
        <button id="button-saveChannel" style="float:right;">Lagre</button>
    </div>
</div>
<div id="channels" class="noselect">
    <div id="addChannel" class="tab">></div>
    <input type="text" id="textbox-channel" />
</div>
<div id="userlists" class="noselect"></div>
<div id="menu">
    <p id="innstillinger-user">Innstillinger</p>
    <p id="logout">Logg ut</p>
</div>
<div id="userinfo" class="noselect">Du er <b>...</b></div>
<div id="chats"></div>
<div id="entrywrap">
    <input type="text" id="entry" />
</div>
<div id="pms" class="noselect">

    <div style="float:right; margin-right:220px;" id="smsButton" class="tab">SMSChat</div>
    <input type="text" id="textbox-smsChat" /></div>
<div id="contacts" class="noselect">Venner<b style="float:right;">3</b></div>
<div id="contactlist" class="noselect">  
    <input type="text" id="textbox-contact" />
    <div class="contact-category online">
        <h2>Online</h2>
        <p>Bjarne</p>
        <p>Lefse</p>
        <p>Herp</p>
    </div>
    <div class="contact-category offline">
        <h2>Offline</h2>
        <p>Derp</p>
        <p>Nils</p>
    </div>
</div>
<form id="profilePicForm" method="post" enctype="multipart/form-data" action="Chat/UploadPic" target="hax"><input id="uploadProfilePic" style="display:none;" name="file" type="file"></form>
<iframe name="hax" style="display:none;"></iframe>
<div id="modaloverlay"></div>