@{
    ViewBag.Title = "Index";
}

<div id="channels">
    <div id="addChannel" class="tab">></div>
    <input type="text" id="textbox-channel" />
</div>
<div id="userinfo">Du er <b>...</b></div>
<div id="chats"></div>
<div id="users"></div>
<input type="text" id="entry" />

<script type="text/javascript">
    var selectedChannel;
    var nick;

    $(document).ready(function () {
        $("#addChannel").click(function () {
            $(this).hide();
            $("#textbox-channel").show();
            $("#textbox-channel").focus();
        });

        $("#textbox-channel").keypress(function (event) {
            if (event.which == 13) {
                if ($(this).val() != "") {
                    joinChannel($(this).val());
                }
                $(this).val("");
                $(this).hide();
                $("#addChannel").show();
            }
        });

        $("#textbox-channel").focusout(function () {
            $(this).hide();
            $("#addChannel").show();
        });

        $("#entry").keypress(function (event) {
            if (event.which == 13) {
                var date = new Date();
                var time = pad(date.getHours()) + ":" + pad(date.getMinutes());
                var message = $("#entry").val();

                $.get("/Chat/SendMessage", { message: message, destination: selectedChannel }, function (result) { });

                $("#" + selectedChannel).append('<p class="message"><span class="timestamp">[' + time + ']</span> <b>' + nick + '</b> ' + message);
                $(".message").fadeIn();
                $("#" + selectedChannel).attr({ scrollTop: $("#chat").attr("scrollHeight") });
                $(this).val("");
            }
        });

        $.get("/Chat/GetUserData", function (result) {
            nick = result;
            $("#userinfo").html("Du er <b>" + nick + "</b>");
        });

        $.get("/Chat/Join", function () {
            joinChannel("Lobby");
            setTimeout(refreshMessages, 1000);
        });
    });

    function joinChannel(channel) {
        $.get("/Chat/JoinChannel", { channel: channel }, function() { });
        $.get("/Chat/GetUsers", { channel: channel }, function(result) {
            for (n in result)
            {
                $("#users").append('<p>' + result[n].nick + '</p>');
            }
        });

        $("#addChannel").before('<div id="chan-' + channel + '" class="tab">' + channel + '</div>');
        $("#chats").append('<div id="' + channel + '" class="chat"></div>');

        selectedChannel = channel;
        $(".tab").removeClass("selected");
        $("#chan-" + channel).addClass("selected");
        $(".chat").hide();
        $("#" + channel).show();
        document.title = channel + " [1]";

        $(".tab").click(function () {
            selectedChannel = $(this).attr("id").split("-")[1];
            if (selectedChannel != null) {
                $(".tab").removeClass("selected");
                $(this).addClass("selected");
                $(".chat").hide();
                $("#" + selectedChannel).show();
                document.title = selectedChannel + " [1]";
            }
        });
    }

    function refreshMessages() {
        $.get("/Chat/GetMessages", function (result) {
            var date = new Date();
            var time = pad(date.getHours()) + ":" + pad(date.getMinutes());
            
            for (n in result) {
                var channel = "#" + result[n].destination;
                $(channel).append('<p class="message"><span class="timestamp">[' + time + ']</span> <b>' + result[n].sender + '</b> ' + result[n].message);
                $(".message").fadeIn();
                $(channel).attr({ scrollTop: $(channel).attr("scrollHeight") });
            }

            setTimeout(refreshMessages, 1000);
        });
    }

    function pad(n) {
        if (n < 10)
            return "0" + n;
        return n;
    }
</script>