* {
	padding: 0px;
	margin: 0px;
}

h1
{ 
    margin-bottom:0;
}
#adminpanel
{
    position: fixed;
    left: 100px;
    top: 0;
    bottom: 17px;
    overflow: auto; 
}

#footer
{
    background-color:#FFA500;
    clear:both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align:center;
}

#admin-menu
{
    background-color:#FFD700;
   
    width:100px;
    float:left;
    position: fixed;
    height: 100%;
}

body {
	background: #333;
	color: #FFF;
	font: 12px Open Sans, sans-serif;
}

.chat-container {
	display: none;
	position: absolute;
	left: 10px;
	right: 220px;
	top: 88px;
	bottom: 97px;
	background: #222;	
	overflow: auto;
}

.chat {	
	padding: 10px;
}

.chat b {
	color: #8DC210;
}

.chat p {
	margin-bottom: 5px;
}

.chat-header {
	position: absolute;
	left: 10px;
	top: 47px;
	right: 220px;
	height: 40px;
	background: #222;
	display: none;
	cursor: pointer;
}

.chat-header.owned {
	color: #8DC210;
}

.chat-header:hover {
	background: #111;
}

.chat-header h2 {
	font: 18px Oswald, sans-serif;
	line-height: 40px;
	margin-left: 10px;
	float: left;
}

.chat-usercount {
	float: right;
	font: 18px Oswald, sans-serif;
	line-height: 40px;
	margin-right: 10px;
}

.message {
	display: none;
}

.timestamp, .deleted {
	color: #444;
}

.deleteMessage {
	color: #FFF;
	margin-right: 10px;
	cursor: pointer;
}

.deleteMessage:hover {
	color: #F00;
}

#userinfo {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px 10px;
	width: 180px;
	background: #222;
	cursor: pointer;
	font: 12px Open Sans, sans-serif;
	z-index: 3;
}

#userinfo b {
	color: #8DC210;
}

#userinfo:hover, #userinfo.selected {
	background: #111;
}

#contacts {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 180px;
	padding: 5px 10px;
	cursor: pointer;
	font: 12px Open Sans, sans-serif;
	background: #222;
	z-index: 3;
}

#contacts b {
	color: #8DC210;
}

#contacts:hover, #contacts.selected {
	background: #111;
}

.contact-category h2 {
	font: 18px Oswald, sans-serif;
	margin: 5px 10px;
}

.contact-category.online h2 {
	color: #8DC210;
}

.contact-category.offline h2 {
	color: #555;
}

.contact-category.offline p {
	color: #555;
}

#login-container h2.error 
{
    color: #555;
    font: 18px Oswald, sans-serif;
    padding-bottom: 5px;
}

#menu 
{
    position: absolute;
    right: 10px;
    top: 30px;
    width: 200px;
    background: #222;
    padding-top: 12px;
    padding-bottom: 5px;
    border-bottom: 5px solid #8DC210;
    display: none;
    z-index: 2;
}

#menu p, #contactlist p
{
    padding: 5px 10px;
    cursor: pointer;
}

#menu p:hover, #contactlist p:hover {
    background: #111;
}

#menu a {
	text-decoration: none;
	color: #FFF;
}

#contactlist {
	position: absolute;
	right: 10px;
	bottom: 30px;
	top: 47px;
	width: 200px;
	
	border-top: 5px solid #8DC210;
	display: none;
	z-index: 2;
	background: #222;
}

.users-container {
	position: absolute;
	right: 10px;
	top: 47px;
	bottom: 47px;
	width: 200px;
	background: #222;
	overflow: hidden;
}

.users 
{
    
}

.users p {
	padding: 5px 10px;
}

.users p:hover {
	background: #111;
	cursor: pointer;
}

#entry {
	width: 100%;
	height: 40px;
	background: #222;
	padding-left: 10px;
	color: #FFF;
	font: 16px Open Sans, sans-serif;
	border: none;
	outline: none;
}

#entry:focus, #login-container input:focus {
	border: 1px solid #111;
	height: 38px;
	padding-left: 8px;
}

#entrywrap {
	position: absolute;
	left: 10px;
	right: 220px;
	height: 40px;
	bottom: 47px;
	margin-right: 10px;
}

#login-container 
{
	width: 200px;
    margin: 0px auto;
    margin-top: 100px;
}

#login-container h1 {
    font: 28px Oswald, sans-serif;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

#login-container input 
{
    font: 12px Open Sans, sans-serif;
    background: #222;
    color: #FFF;
    height: 40px;
    width: 180px;
    outline: none;
    border: none;
    margin-bottom: 5px;
    padding: 0px 10px;
    border-radius: 2px;
}

#login-container input:focus 
{
    padding: 0px 9px;
}

.tab, .tab-pm
{
    font: 12px Open Sans, sans-serif;
	color: #8DC210;
	float: left;
	margin: 10px 0px;
	margin-right: 1px;
	padding: 5px 10px;
	background: #222;
	cursor: pointer;
}

.tab:first-child, .tab-pm:first-child {
	margin-left: 10px;
}

.tab:hover, .tab-pm:hover {
	background: #111;
}

.tab.selected, .tab-pm.selected
{
    background: #000;
}

.tab .close {
	float: right;
	color: #333;
	padding-left: 5px;
	margin-top: -8px;
	margin-right: -7px;
}

.tab .close:hover {
	color: #FFF;
}

#addChannel {
	margin-left: 10px;
	font-weight: bold;
}

#textbox-channel 
{
    float: left;
	margin: 10px;
	padding: 5px 6px;
	border: none;
	outline: none;
	background: #222;
	color: #FFF;
	font: 12px Open Sans, sans-serif;
	display: none;
}

#textbox-channel:focus, #textbox-contact:focus, #textbox-allowUser:focus, #textbox-addAdmin:focus
{
    border: 1px solid #111;
    padding: 4px 5px;
}

#textbox-contact, #textbox-allowUser, #textbox-addAdmin {
	float: left;
	margin: 10px;
	padding: 5px 6px;
	border: none;
	outline: none;
	background: #333;
	color: #FFF;
	font: 12px Open Sans, sans-serif;
	width: 168px;
}

#textbox-allowUser, #textbox-addAdmin {
	margin: 10px 0px;
	width: 188px;
}

#select-allowedUsers, #select-admins {
	width: 200px;
	background: #333;
	border: none;
	color: #FFF;
	font: 12px Open Sans, sans-serif;
	margin-top: 10px 0px;
	overflow: hidden;
	outline: none;
}

#allowUsers {
	display: none;
	margin-top: 10px;
}

#pms {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#login-container input[type="submit"], button {
	font: 16px Oswald, sans-serif;
	padding: 5px;
	width: 200px;
	color: #FFF;
	cursor: pointer;

	box-shadow: inset 0px 1px 1px #AFE236;
	-moz-box-shadow: inset 0px 1px 1px #AFE236;
	-webkit-box-shadow: inset 0px 1px 1px #AFE236;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	background: #8DC210;
	border: 1px solid #739F0D;
	text-shadow: 0px 1px 1px #4B6805;
}

#login-container input[type="submit"]:hover, button:hover {
	border: 1px solid #4B6805;
}

#login-container input[type="submit"]:active, button:active {
	background: #8DC210;
	border: 1px solid #4B6805;
	box-shadow: inset 0px 2px 2px #4B6805;
	-webkit-box-shadow: inset 0px 2px 2px #4B6805;
	-moz-box-shadow: inset 0px 2px 2px #4B6805;
}

button.red {
	box-shadow: inset 0px 1px 1px #FF4B4B;
	-moz-box-shadow: inset 0px 1px 1px #FF4B4B;
	-webkit-box-shadow: inset 0px 1px 1px #FF4B4B;
	background: #F00;
	border-color: #E50000;
	text-shadow: 0px 1px 1px #7F0000;
}

button.red:hover {
	border-color: #7F0000;
}

#logininfo {
	color: #AAA;
	background: #222;
	padding: 15px 20px;
	margin-left: 20px;
	border-radius: 2px;
	margin-top: 10px;
}

#logininfo h2 {
	font: 18px Oswald, sans-serif;
	color: #8DC210;	
	text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	margin-bottom: 5px;
}

#logininfo p {
	margin-bottom: 5px;
}

div.scrollbarpaper-container
{
  position: absolute;
  z-index: 1;
  background-color: #222;
}

div.scrollbarpaper-track
{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 10px;
  background-color: #111;
}

div.scrollbarpaper-drag
{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #444;
}

div.scrollbarpaper-drag-top
{
  position: absolute;
  top: 0;
  width: 100%;
}

div.scrollbarpaper-drag-bottom
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.modal {
	position: absolute;
	padding: 20px 0px;
	background: #222;
	z-index: 6;
	display: none;
	left: 10px;
	right: 220px;
	top: 88px;
	bottom: 97px;

}

.modal p {
	font: 18px Oswald, sans-serif;
	margin: 5px;
}

.modal h1 {
	font: 24px Oswald, sans-serif;
	text-align: center;
}

.modal-bar-bottom {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 5px 10px;
	height: 37px;
	background: #111;
}

#modal-container {
	margin: 0px auto;
}

#modaloverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 5;
	display: none;
}

#modal-channel .col {	
	width: 220px;
	float: left;	
	margin: 5px 0px;
}

#modal-channel .col p {
	margin: 0px;
	margin-left: 10px;
}

.profile-image 
{
    margin-left: 10px;
    border: 3px solid #FFF;
}