* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #333;
	color: #FFF;
	font: 12px Open Sans, sans-serif;
}

#chat {
	position: absolute;
	left: 10px;
	right: 220px;
	top: 47px;
	bottom: 60px;
	background: #222;
	padding: 10px;
	overflow: auto;
}

#chat b {
	color: #FFB300;
}

#chat p {
	margin-bottom: 5px;
}

.message {
	display: none;
}

.timestamp {
	color: #444;
}

#userinfo {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 5px 10px;
	width: 180px;
	background: #222;
	cursor: pointer;
}

#userinfo b {
	color: #FFB300;
}

#userinfo:hover {
	background: #111;
}

#users {
	position: absolute;
	right: 10px;
	top: 47px;
	bottom: 60px;
	width: 200px;
	background: #222;
}

#users p {
	padding: 5px 10px;
}

#users p:hover {
	background: #111;
	cursor: pointer;
}

#entry {
	position: absolute;
	left: 10px;
	right: 10px;
	height: 40px;
	bottom: 10px;
	background: #222;
	padding-left: 10px;
	color: #FFF;
	font: 16px Open Sans, sans-serif;
	border: none;
	outline: none;
}

#entry:focus {
	border: 1px solid #111;
	height: 38px;
}

.tab {
	color: #FFB300;
	float: left;
	margin: 10px;
	margin-right: 0px;
	padding: 5px 10px;
	background: #222;
	cursor: pointer;
	font-weight: bold;
}

.tab:hover {
	background: #111;
}
